.button--info {
  color: #0c5460;
  background-color: #d1ecf1;
  border: solid 2px #bee5eb;
  border-radius: 6px;
  padding: 6px;
  font-size: 12px;
}

.button--default {
  @apply text-m-mud-500 border-m-mud-500 text-xl p-4 bg-transparent rounded-xl;
}

.button {
  @apply border-2 shadow shadow-gray-400 inline-flex items-center justify-center;
}

.button--fluid {
  @apply w-full;
}

.button--style-reset {
  @apply p-0 border-none bg-transparent shadow-none;
}
